# Project
PROJECT_NAME=ecommerce-data-platform
ENVIRONMENT=local

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=ecommerce_pass

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Data Lake
DATA_LAKE_PATH=./data_lake

# Airflow
AIRFLOW_UID=50000

# BigQuery - optional future usage
GCP_PROJECT_ID=
BIGQUERY_DATASET=
GOOGLE_APPLICATION_CREDENTIALS=
